<div ng-controller="EstadoConsultaController as vm">

    <app-consulta titulo="Consultar Estado" service="vm.appService">

        <div class="row">

            <app-input ng-model="vm.appService.parametro.nome"
                       input-label="Descrição:"
                       colspan="6" placeholder="Estado">
            </app-input>

            <app-input tipo="date"
                       ng-model="vm.appService.parametro.data"
                       input-label="Data de Cadastro:"
                       colspan="6">
            </app-input>
        </div>

    </app-consulta>

    <app-grid class-panel="panel-primary" grid-name="Lista de Estados" vm="vm"></app-grid>
</div>