<div ng-controller="EstadoCadastroController as vm">

    <app-crud titulo="Cadastro de Estados" service="vm.appService" editar="vm.editar"
              ng-disabled="!vm.appService.entidade.nome && !vm.appService.entidade.data">

        <div class="row">

            <app-input ng-model="vm.appService.entidade.nome"
                       input-label="Nome do Estado:"
                       colspan="6"
                       ng-required="true"
                       placeholder="Estado">
            </app-input>

            <app-input tipo="date"
                       ng-model="vm.appService.entidade.data"
                       input-label="Data de Cadastro:"
                       colspan="6"
                       ng-required="true">
            </app-input>
        </div>

    </app-crud>

    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary"
                    ng-click="vm.paginaConsulta('estadoConsulta')">
                <span>Consultar Produto</span>
            </button>
        </div>
    </div>
</div>


