<div class="app-consulta">
    <form name="{{formName}}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label ng-bind="titulo"></label>
            </div>

            <div class="panel-body">
                <ng-transclude></ng-transclude>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="service.pesquisar()">
                    <span>Consultar</span>
                </button>
                <button class="btn btn-default" ng-click="service.consultaLimpar()">
                    <span>Limpar</span>
                </button>
            </div>

        </div>
    </form>
</div>