<div ng-controller="BairroConsultaController as vm">

    <app-consulta titulo="Consultar Bairro" service="vm.appService">

        <div class="row">

            <app-input ng-model="vm.appService.parametro.param"
                       input-label="Descrição:"
                       colspan="6" placeholder="Bairro, Cidade, Estado">
            </app-input>

            <app-input tipo="date"
                       ng-model="vm.appService.entidade.parametro.data"
                       input-label="Data de Cadastro:"
                       colspan="6">
            </app-input>
        </div>

    </app-consulta>

    <app-grid class-panel="panel-primary" grid-name="Lista de Bairros" vm="vm"></app-grid>
</div>